body{
    background: white;
}
.jumbotron{
    min-height: 450px;
    background-image: url("../img/bg.jpg");
    background-position: 100% 20%;
    background-size: cover;
    background-repeat: no-repeat;
}