<div class="container">
    <h1>Contact</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipiscing elit faucibus arcu fusce nibh, primis lacus semper taciti duis ad
        feugiat a mi proin. Habitasse accumsan posuere praesent ad mi eros rutrum nisl ac, torquent facilisi mollis inceptos
        nostra id venenatis. Nostra bibendum etiam diam lectus nibh eu, risus hendrerit ultrices hac dui ullamcorper arcu,
        magnis rutrum semper congue suscipit.</p>

    <div class="card bg-light mx-auto mb-5" style="width: 55rem">
        <form>
            <div class="form-group row">
                <div class="col-2 d-flex justify-content-end">
                    <label class="mx-0 my-2"><strong>Your E-mail</strong></label>
                </div>    
                <div class="col-9 my-2">
                    <input type="staticEmail" class="form-control" aria-describedby="emailHelp" placeholder="Email Address" />
                </div>    
            </div>

            <div class="form-group row">
                <div class="col-2 d-flex justify-content-end">
                    <label class="mx-0 my-2"><strong>Your message</strong></label>
                </div>
                <div class="col-9 my-2">
                    <textarea class="form-control" rows="4" placeholder="Please, enter your message here..."></textarea>
                </div>
            </div>    
        </form>
        <div class="d-flex justify-content-end">
            <input class="btn btn-primary mx-2 my-2" type="submit" value="Submit">
        </div>    
    </div>
</div>